@charset "UTF-8";

/* 혜령 */
  /* 말풍선 스타일 */
  .highlight-tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
    border-radius: 4px;
    z-index: 9999;
  }

/* 좋아요 스타일 */
#like-heart {
	color: grey;
}
#like-heart.like {
	color: #e90c4e;
}
#likeButtonBtn {
	font-size: 20px;
	font-family: 'GmarketSansMedium';
	border: none; 
	background: none; 
	padding: 0; 
	margin: 0; 
	cursor: pointer;
}

#news-container p {
	padding: 0;
	margin: 0;
}

#newHeader {
	text-align: center;
	border-bottom: 1px solid #051619;
	padding: 24px 0;
}
#news-category a {
	color: inherit; /* 링크 색상을 상속받음 */
}
#newHeader h1 {
	margin: 32px 0;
}
#img-container {
	padding: 60px;
	display: flex;
	justify-content: center;
}
#news-content {
	padding: 0 20%;
}
#news-tag-container {
	padding: 0 20%;
	display: flex;
	flex-wrap: wrap;
}
.news-tag {
	margin-right: 20px;
}

.news-tag a {
	text-decoration: none;
	color: inherit;
}

#likeButton {
	padding: 0 20%;
}

#comment-container {
	padding: 0 0 0 20%;
}

.newsCommentContent {
	font-size: 16px;
	resize: none;
	width: 80%;
	border-radius: 5px;
}

#btn-comment-enroll1 {
	width: 50px;
	height: 36px;
	position: relative;
	top: -23px;
}

