@charset "UTF-8";

/* 혜령 */
  /* 말풍선 스타일 */
  .highlight-tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
    border-radius: 4px;
    z-index: 9999;
  }

/* 좋아요 스타일 */
#like-heart {
	color: grey;
}
#like-heart.like {
	color: #e90c4e;
}
#likeButton{	padding: 24px 10px;border-bottom: 1px solid #051619;}
#likeButtonBtn {
	font-size: 25px;
	font-family: 'GmarketSansMedium';
	border: none; 
	background: none; 
	padding: 0; 
	margin: 0; 
	cursor: pointer;
}

#news-container p {
	padding: 0;
	margin: 0;
}

#newHeader {
	text-align: center;
	border-bottom: 1px solid #051619;
	padding: 24px 0;
}
#news-category a {
	color: inherit; /* 링크 색상을 상속받음 */
}
#newHeader h1 {
	margin: 32px 0;
}
#img-container {
	padding: 60px;
	display: flex;
	justify-content: center;
}
#news-content {
	padding: 0 20%;
}
#news-content a {
	color: inherit;
}
#news-tag-container {
	padding: 0 20%;
	display: flex;
	flex-wrap: wrap;
}
.news-tag {
	margin-right: 20px;
}

.news-tag a {
	text-decoration: none;
	color: inherit;
}

.rejectedReasonContainer {
	border-top: 1px solid #051619;
	padding: 0 20%;
}


#likeButton {
	padding: 0 20%;
}



#comment-container {padding: 0 0 0 20%;  }

.newsCommentContent {font-size: 16px;resize: none;width: 80%;border-radius: 5px; }

#btn-comment-enroll1 {width: 50px;height: 36px; position: relative; top: -25px; }
#deletNewsButtonMre{  width:80px;  height: 40px; background: #B5C99A;  border-radius: 20px; }

div#loginComment { color : gray; font-size: 20px;margin: 5px;    }
div.comment-editor button#btn-comment-enroll1 { width:70px; background: #B5C99A; border-radius: 20px;  }
table#comment{ width: 80%; margin:0; border-collapse:collapse; } 
table#comment tr{border-bottom:1px solid; border-top:1px solid; padding:5px; text-align:left; line-height:120%;}
table#comment tr:hover {background: #B5C99A; }


/*댓글테이블*/
table#comment tr td:first-of-type{padding: 5px 5px 5px 50px;}

/*버튼 보이고 안보이고*/
table#comment button.btn-reply{display:none;}
table#comment button.report{display:none;}
table#comment button.btn-admin-delete{display:none;}
table#comment button.btn-member-delete{display:none;}
table#comment tr:hover button.btn-reply{display:inline;}
table#comment tr:hover button.report{display:inline;}
table#comment tr:hover button.btn-admin-delete{display:inline;}
table#comment tr:hover button.btn-member-delete{display:inline;}

table#comment  div.comment-editor2{display:none;}
table#comment tr:hover  div.comment-editor2{display:inline;}

table#comment tr.level1 td div#A{ text-align:left; }
table#comment tr.level1 td div#B{ text-align: right; }

table#comment tr.level2 td div#A{  text-align:left; }
table#comment tr.level2 td div#B{ text-align: right; }


table#comment sub.comment-writer {color: rgb(0, 85, 18); font-size:14px}

table#comment tr.level2 {color:gray; font-size: 14px;}
table#comment tr.level2 td:first-of-type{padding-left:100px;}
table#comment tr.level2 sub.comment-writer {color: rgb(96, 153, 108); font-size:14px}


/*답글관련*/
table#comment textarea{margin: 4px 0 0 0;}
div.comment-editor2 button#btn-comment-enroll2{ width:60px; height: 32px; background: #B5C99A; border-radius: 20px;   } 








/* 북마크 말풍선 */
.highlight-tooltip {
	background: #b5c99a;
	border-radius: .4em;
}

.highlight-tooltip:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 3px solid transparent;
	border-top-color: #b5c99a;
	border-bottom: 0;
	margin-left: -3px;
	margin-bottom: -3px;
}
