@charset "UTF-8";



/* 원고 작성 css */
.myScriptWrite {
	background-color: #EDEDE1;
	padding: 10px 15% 50px 15%;
	height: 900px
}
.note-resizebar, .note-statusbar{
	display: none;
}

.scriptBtn {
	font-size: 16px;
	width: 100px;
	height: 40px;
	margin-left: 10px;
	border: 1px solid #888;
}


.addTagBox {
	padding: 0 0 10px 0;
}

#newsTag {
	background-color: transparent;
	width: 140px;
	border-width: 0 0 1px 0;
}
#addTagBtn {
	border: 1px solid #888;
}

.tagContainer {
	background-color : #B5C99A;
	border-radius: 3px;
	display: flex;
	flex-wrap: wrap;
}

.tag {
	background-color : #eee;
	border-radius: 4px;
	margin: 10px;
	height: 36px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	position: relative;
	text-align: center;
}

.inputTag {
	margin-left: 8px;
	margin-right: 33px;
}

.cancleTagBox {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 9px;
	right: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.ScriptWriteBtnContainer {
	margin: 12px 0;
	display: flex;
	flex-direction: row-reverse;
}

#linkBox {
	display: none;
}

.note-editable {
	height: 700px;
}
.note-editable p {
	padding: 0;
	margin: 0;
}

.tbl-container {	
	background-color: #EDEDE1;
	padding: 50px 15% 20px 15%;
	border-bottom: 1px solid #051619;
}

#tbl123 {
	width: 100%;
	font-size: 15px;
}
#tbl123 td {
	padding: 5px;
}

button {
	border-radius : 3px;
}
#fontStyleTable {
	height : 37px;
	background-color: #B5C99A;
	align-content: center;
	border-radius : 3px;
	margin: 10px 0;
}
#fontStyleTable td:first-of-type {
	border-right: 1px solid lightgray;
	padding: 0 7px;
}	
#fontStyleTable td:nth-of-type(2) {
	border-right: 1px solid lightgray;
	padding: 0 7px;
}	
#fontStyleTable td:nth-of-type(3) {
	border-right: 1px solid lightgray;
	padding: 0 7px;
}	
#fontStyleTable td:last-of-type {
	padding: 0 7px;
}	
#fontStyleTable td button{ 
	margin : 0;
	border: none;
}	
#fontStyleTable td:first-of-type button:first-of-type {
	width : 60px;
	height : 25px;
}
#fontStyleTable td:first-of-type button:last-of-type {
	width : 45px;
	height : 25px;
}
#fontStyleTable td:nth-of-type(2) button {
	width : 28px;
	height : 25px;
}
#fontStyleTable td:nth-of-type(3) button {
	width : 28px;
	height : 25px;
}
#fontStyleTable td:last-of-type button {
	width : 28px;
	height : 25px;
}

.clicked1 {
	animation-name : btnClicked1;
	animation-duration : 2s;
	animation-fill-mode: forward;
}

@keyframes btnClicked1 {
	0% {
		background-color: #bbb;
	}
	100% {
		background-color: #eee;
	}
}



#linkBox {
	background-color : #EDEDE1;
	position: absolute;
	padding : 10px 0 10px 10px;
	border: 2px solid lightgray;
	border-radius: 3px;
	transform: translate(356px, -47px);
	z-index: 2;
}
#linkBox button {
	background-color : #EDEDE1;
	width: 30px;
	height: 30px;
	margin: 10px;
	border: none;
}
#linkBox button:hover {
	background-color: #B5C99A; 
}




/* 작성자 */
.writerId {
	background-color: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid black;
	margin-left: 10px;
}

/* 뉴스 제목 */
#titleArea {
	background-color: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid black;
	margin-left: 10px;
	width: 60%;
}
#category {
	margin-left: 10px;
}
#newsImage {
	margin-left: 10px;
}


/* 원고 관리 css */
.myScriptList {
	overflow: hidden;
	overflow-x: scroll;
	overflow: overlay;
}
h1, h3{text-align:center;}

.script-tbl {
  	border-collapse: collapse;
  	margin:auto;
  	table-layout: fixed;
}

.script-tbl th,
.script-tbl td {
  	border: 1px solid black;
  	padding: 5px;
  	text-align: center;
}

.script-tbl th {
  	background-color: #B5C99A;
}

.script-tbl tr th:first-of-type, .script-tbl tr td:first-of-type {
	min-width: 70px;
}
.script-tbl tr th:nth-of-type(2), .script-tbl tr td:nth-of-type(2) {
	max-width: 500px;
	min-width: 500px;
	white-space: nowrap; /* 텍스트 줄바꿈 방지 */
	overflow: hidden; /* 넘친 내용 숨김 */
	text-overflow: ellipsis; /* 텍스트 줄임표 (...) 표시 */
}
.script-tbl tr th:nth-of-type(3), .script-tbl tr td:nth-of-type(3) {
	min-width: 70px;
}
.script-tbl tr th:nth-of-type(4), .script-tbl tr td:nth-of-type(4) {
	min-width: 190px;
}
.script-tbl tr th:last-of-type, .script-tbl tr td:last-of-type {
	min-width: 130px;
}
.msBtn {
	font-family: 'GmarketSansMedium';
	border: 1px solid black;
}
/* 기사 목록 */
.myPostList {
	overflow: hidden;
	overflow-x: scroll;
	overflow: overlay;
}
h1, h3{text-align:center;}

#tbl-news {
  	border-collapse: collapse;
  	margin:auto;
  	table-layout: fixed;
}

#tbl-news th,
#tbl-news td {
  	border: 1px solid black;
  	padding: 5px;
  	text-align: center;
}

#tbl-news th {
  	background-color: #B5C99A;
}

#tbl-news tr th:first-of-type, #tbl-news tr td:first-of-type {
	min-width: 70px;
}
#tbl-news tr th:nth-of-type(2), #tbl-news tr td:nth-of-type(2) {
	max-width: 500px;
	min-width: 500px;
	white-space: nowrap; /* 텍스트 줄바꿈 방지 */
	overflow: hidden; /* 넘친 내용 숨김 */
	text-overflow: ellipsis; /* 텍스트 줄임표 (...) 표시 */
}
#tbl-news tr th:nth-of-type(3), #tbl-news tr td:nth-of-type(3) {
	min-width: 70px;
}
#tbl-news tr th:nth-of-type(4), #tbl-news tr td:nth-of-type(4) {
	min-width: 50px;
}
#tbl-news tr th:nth-of-type(5), #tbl-news tr td:nth-of-type(5) {
	min-width: 50px;
}
#tbl-news tr th:last-of-type, #tbl-news tr td:last-of-type {
	min-width: 190px;
}
