@charset "UTF-8";



/* 원고 작성 css */
.myScriptWrite {
	background-color: #EDEDE1;
	padding: 50px 15%;
	height: 1200px
}
.note-resizebar, .note-statusbar{
	display: none;
}

#contentArea {
	background-color: white;
	border: 1px solid black;
	width: 100%;
	height: 400px;
	padding: 10px;
}

#titleArea {
	margin-left: 10px;
	width: 60%;
}

.titleAreaContanier {
	display: flex;
}

.fileUploadContainer {
	display: flex;
}

.scriptBtn {
	width: 100px;
	height: 50px;
}


.addTagBox {
	background-color: yellow;
}

.tagContainer {
	background-color : lightgray;
	display: flex;
	flex-wrap: wrap;
}

.tag {
	background-color : lime;
	margin: 10px;

	height: 40px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	position: relative;
	text-align: center;
}

.inputTag {
	margin-left: 10px;
	margin-right: 40px;
}

.cancleTagBox {
	background-color: red;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.ScriptWriteBtnContainer {
	background-color : green;
	display: flex;
	flex-direction: row-reverse;
}

#linkBox {
	display: none;
}

.note-editable {
	height: 800px;
}

/* 원고 관리 css */
.myScriptList {
	overflow: hidden;
	overflow-x: scroll;
	overflow: overlay;
}
h1, h3{text-align:center;}

.script-tbl {
  	border-collapse: collapse;
  	margin:auto;
  	table-layout: fixed;
}

.script-tbl th,
.script-tbl td {
  	border: 1px solid black;
  	padding: 5px;
  	text-align: center;
}

.script-tbl th {
  	background-color: #B5C99A;
}

.script-tbl tr th:first-of-type, .script-tbl tr td:first-of-type {
	min-width: 70px;
}
.script-tbl tr th:nth-of-type(2), .script-tbl tr td:nth-of-type(2) {
	max-width: 500px;
	min-width: 500px;
	white-space: nowrap; /* 텍스트 줄바꿈 방지 */
	overflow: hidden; /* 넘친 내용 숨김 */
	text-overflow: ellipsis; /* 텍스트 줄임표 (...) 표시 */
}
.script-tbl tr th:nth-of-type(3), .script-tbl tr td:nth-of-type(3) {
	min-width: 70px;
}
.script-tbl tr th:nth-of-type(4), .script-tbl tr td:nth-of-type(4) {
	min-width: 190px;
}
.script-tbl tr th:last-of-type, .script-tbl tr td:last-of-type {
	min-width: 130px;
}

/* 기사 목록 */
.myPostList {
	overflow: hidden;
	overflow-x: scroll;
	overflow: overlay;
}
h1, h3{text-align:center;}

#tbl-news {
  	border-collapse: collapse;
  	margin:auto;
  	table-layout: fixed;
}

#tbl-news th,
#tbl-news td {
  	border: 1px solid black;
  	padding: 5px;
  	text-align: center;
}

#tbl-news th {
  	background-color: #B5C99A;
}

#tbl-news tr th:first-of-type, #tbl-news tr td:first-of-type {
	min-width: 70px;
}
#tbl-news tr th:nth-of-type(2), #tbl-news tr td:nth-of-type(2) {
	max-width: 500px;
	min-width: 500px;
	white-space: nowrap; /* 텍스트 줄바꿈 방지 */
	overflow: hidden; /* 넘친 내용 숨김 */
	text-overflow: ellipsis; /* 텍스트 줄임표 (...) 표시 */
}
#tbl-news tr th:nth-of-type(3), #tbl-news tr td:nth-of-type(3) {
	min-width: 70px;
}
#tbl-news tr th:nth-of-type(4), #tbl-news tr td:nth-of-type(4) {
	min-width: 50px;
}
#tbl-news tr th:nth-of-type(5), #tbl-news tr td:nth-of-type(5) {
	min-width: 50px;
}
#tbl-news tr th:last-of-type, #tbl-news tr td:last-of-type {
	min-width: 190px;
}
