@charset "UTF-8";
.myScriptWrite {
	background-color: orange;
	padding: 0px 15%;
}


#contentArea {
	display: flex;
	width: 100%;
	resize: none;
}

#titleArea {
	margin-left: 10px;
	width: 60%;
}

.titleAreaContanier {
	display: flex;
}


.scriptBtn {
	width: 100px;
	height: 50px;
}

.ScriptWriteBtnContainer {
	background-color : green;
	display: flex;
	flex-direction: row-reverse;
}
